.idea
CMakeFiles
build
bin
cmake-build-debug
Testing
*.pdf
*.cmake
CMakeCache.txt
*.a
main
Makefile
r-type_server
r-type_client
.vscode
*.o
*.so
r-type_client_test
r-type_server_test
.vscode
r-type_server
r-type_client
r-type_client_test
r-type_server_test
installer.sh
uninstaller.sh
.vcpkg/
